server:
  port: 8081
spring:
  application:
    name: marketplace-api
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
management:
  endpoint:
    health:
      show-details: always
